<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.res.jobjob">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.clientes.RequestSocio"></activity>
        <activity
            android:name=".activities.clientes.DetailRequest"
            android:parentActivityName=".activities.clientes.MapCliente" />
        <activity android:name=".activities.socios.MapSocio" />
        <activity android:name=".activities.clientes.MapCliente" />
        <activity android:name=".activities.socios.RegistroSocios" />
        <activity
            android:name=".activities.Login"
            android:parentActivityName=".activities.OptAuth" />
        <activity
            android:name=".activities.clientes.RegistroCliente"
            android:parentActivityName=".activities.OptAuth" />
        <activity
            android:name=".activities.OptAuth"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>